body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

main {
  flex: 1;
}

footer {
  background-color: #f4f8f6;
  padding: 40px 20px;
  color: #3b6355;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.newsletter {
  max-width: 400px;
}

.newsletter h3 {
  font-size: 20px;
  font-weight: bold;
  color: #3b6355;
}

.newsletter p {
  margin-top: 5px;
  font-size: 14px;
  color: #5a7f70;
}

.newsletter-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.newsletter-form input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #d1d4d3;
  border-radius: 25px 0 0 25px;
  outline: none;
  flex: 1;
  background-color: #fff;
  color: #3b6355;
}

.newsletter-form button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 11px 15px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #3b6355;
  font-size: 20px;
  background-color: #d1d4d3;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-column {
  min-width: 120px;
}

.footer-column h4 {
  font-size: 16px;
  font-weight: bold;
  color: #3b6355;
  margin-bottom: 10px;
}

.footer-column a {
  display: block;
  color: #5a7f70;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 5px;
}

.footer-column a:hover {
  color: #0056ff;
}

/* Responsividade da página*/
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }
}

.container-tecs {
  width: 100vw;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px 0;
  border-radius: 20px;
  background-color: #e1f3e5;
  ;
}

.container-tecs h1 {
  font-size: 24px;
  font-weight: bold;
  color: #3b6355;
}

.novas-tec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2%;
}

.videos-tecs {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 50px 0 50px;
}

.infos {
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px 100px 0 0;
}

.infos p {
  font-size: 18px;
  width: 100%;
}

@media (max-width: 1300px) {
  .infos p {
    font-size: 14px;
    width: 100%;
  }

  .container-tecs h1 {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .novas-tec {
    flex-direction: column;
  }

  .container-tecs h1 {
    font-size: 14px;
    text-align: center;
    width: 100%;
  }

  .infos {
    margin: 0;
  }

  .infos p {
    font-size: 12px;
    width: 170%;
    margin: 0;
  }
}

.countries-heading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
  color: #004437;
}

.container-countries {
  margin: 150px;
}

.img-box img {
  display: flex;
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.grid {
  display: flex;
  gap: 1.5rem;
  text-align: center;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  /* Permite que as colunas quebrem em telas pequenas */
  justify-content: center;
  /* Centraliza os cards */
}

.card-countries {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
  flex: 1 1 calc(20% - 1.5rem);
}

.card-content {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 68, 56, 0.712);
  color: #fff;
  width: 100%;
  height: 20%;
  padding: 2.2rem 0;
  overflow: hidden;
  transition: 0.7s;
}

.card-content h1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.card-content p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.4rem;
  padding: 1.3rem;
}

.card-content:hover {
  height: 100%;
  transition: 0.7s;
}

@media (max-width: 1024px) {
  .card-countries {
    flex: 1 1 calc(33.33% - 1.5rem);
    /* 3 cards por linha em telas médias */
  }
}

@media (max-width: 768px) {
  .card-countries {
    flex: 1 1 calc(50% - 1.5rem);
    /* 2 cards por linha em telas pequenas */
  }
}

@media (max-width: 480px) {
  .card-countries {
    flex: 1 1 100%;
    /* 1 card por linha em telas extra pequenas */
  }
}

.container-tips {
  margin: 40px;
}

.tip-cards {
  background-color: #e1f3e5;
  padding: 2em;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tip-title {
  color: #004437;
  margin-bottom: 2rem;
}

.card {
  margin: 1em 0;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 350px;
}

.card img {
  border-radius: 10px 10px 0px 0px;
  width: 30%;
  height: auto;
}

.card-body {
  padding: 2em;
  flex-grow: 1;
}

.card-title {
  text-transform: uppercase;
  color: #004437;
  font-size: 18px;
  font-weight: 600;
}

.card-text {
  font-size: 17px;
  line-height: 1.4;
  font-weight: 500;
}

.h4-tip {
  font-size: 20px;
  color: #000;
}

@media (max-width: 1013px) {
  .card {
    height: auto;
  }

  .card-body {
    padding: 0.8em;
  }

  .card-title {
    font-size: 20px;
  }

  .card-text {
    font-size: 14px;
  }

  .img-box img {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .card {
    height: auto;
  }

  .card-body {
    padding: 0.8em;
  }

  .card-title {
    font-size: 20px;
  }

  .card-text {
    font-size: 14px;
  }
}

.transicao-energetica{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5%;
}

.infos-energetica{
  margin: 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}

.infos-energetica p {
  text-align: left;
  margin-left: -70px;
}

.transicao-energetica img {
  width: 20%;
  height: auto;
  object-fit: cover;
  margin: 0;
}

@media (max-width: 800px) {
  .infos-energetica{
    width: 100%;
  }
  .infos-energetica p {
    margin: 0;
  }

  .transicao-energetica img {
    display: none;
  }
}